<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="WinServDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=G:\Academico\INTEC\T10-2020\Programacion3\Laboratorio\lab7\Lab7\WindowsService\WinServ.mdf;Integrated Security=True" />
  </connectionStrings>

  <appSettings>
    <add key="intervalo" value="5000"/>
    
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54008/WebService.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebServiceSoap" contract="WebServ.WebServiceSoap"
        name="WebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>